<div class="row">
  <h1>NYC Complaints</h1>
  <form class="form-inline">
    <div class="form-group">
      <label for="complaint_type">Complaint Type</label>
      <select class="form-control">
        <option>Select One --></option>
      </select>
    </div>
    <div class="form-group">
      <label for="complaint_type">
        Street</label>
      <input type="text" class="form-control">
    </div>
    <div class="form-group">
      <label for="complaint_type">
        Status</label>
      <select class="form-control">
        <option>Select One --></option>
      </select>
    </div>
    <div class="form-group">
      <label for="complaint_type">
        Zip</label>
      <input type="text" class="form-control">
    </div>

    <button type="submit" class="btn btn-default">Search</button>
  </form>
</div>
<br><br>
<div class="row">
  <table class="table">
    <th>
      <td>Complaint Type</td>
      <td>Street Name</td>
      <td>Status</td>
      <td>Zip</td>
    </th>
    <tbody>
    <tr>
    </tr>
    </tbody>
  </table>
</div>
